<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.janedler.mysugar.multipleDataSource.ly.mapper.TbCircleFriendsPraiseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.janedler.mysugar.multipleDataSource.ly.entity.TbCircleFriendsPraise">
        <id column="id" property="id" />
        <result column="publish_id" property="publishId" />
        <result column="from_uid" property="fromUid" />
        <result column="to_uid" property="toUid" />
        <result column="createTime" property="createTime" />
    </resultMap>

</mapper>
