<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.janedler.mysugar.multipleDataSource.ly.mapper.TbUserPostCommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.janedler.mysugar.multipleDataSource.ly.entity.TbUserPostComments">
        <id column="id" property="id" />
        <result column="post_id" property="postId" />
        <result column="c_uid" property="cUid" />
        <result column="t_uid" property="tUid" />
        <result column="star" property="star" />
        <result column="comment" property="comment" />
    </resultMap>

</mapper>
