<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.janedler.mysugar.multipleDataSource.ly.mapper.TbUserComplainMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.janedler.mysugar.multipleDataSource.ly.entity.TbUserComplainMessage">
        <id column="id" property="id" />
        <result column="uidTo" property="uidTo" />
        <result column="uidFrom" property="uidFrom" />
        <result column="message" property="message" />
        <result column="extraMessage" property="extraMessage" />
        <result column="url" property="url" />
        <result column="createTime" property="createTime" />
    </resultMap>

</mapper>
