<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.janedler.mysugar.mapper.TMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.janedler.mysugar.entity.TMenu">
        <id column="id" property="id" />
        <result column="menuName" property="menuName" />
        <result column="menuIcon" property="menuIcon" />
        <result column="routUrl" property="routUrl" />
        <result column="permisson" property="permisson" />
    </resultMap>

</mapper>
